@font-face {
  font-family: 'ogicomoon';
  src:  url('https://jimboy3100.github.io/fonts/ogicomoon.eot?rdinlb');
  src:  url('https://jimboy3100.github.io/fonts/ogicomoon.eot?rdinlb#iefix') format('embedded-opentype'),
    url('https://jimboy3100.github.io/fonts/ogicomoon.ttf?rdinlb') format('truetype'),
    url('https://jimboy3100.github.io/fonts/ogicomoon.woff?rdinlb') format('woff'),
    url('https://jimboy3100.github.io/fonts/ogicomoon.svg?rdinlb#ogicomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ogicon-"], [class*=" ogicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ogicomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /*line-height: 1;*/

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ogicon-home:before {
  content: "\e900";
}
.ogicon-droplet:before {
  content: "\e90b";
}
.ogicon-paint-format:before {
  content: "\e90c";
}
.ogicon-image:before {
  content: "\e90d";
}
.ogicon-images:before {
  content: "\e90e";
}
.ogicon-music:before {
  content: "\e911";
}
.ogicon-file-music:before {
  content: "\e928";
}
.ogicon-file-play:before {
  content: "\e929";
}
.ogicon-cart:before {
  content: "\e93a";
}
.ogicon-coin-dollar:before {
  content: "\e93b";
}
.ogicon-location:before {
  content: "\e947";
}
.ogicon-location2:before {
  content: "\e948";
}
.ogicon-keyboard:before {
  content: "\e955";
}
.ogicon-display:before {
  content: "\e956";
}
.ogicon-bubbles:before {
  content: "\e96c";
}
.ogicon-bubbles3:before {
  content: "\e96f";
}
.ogicon-user:before {
  content: "\e971";
}
.ogicon-equalizer:before {
  content: "\e992";
}
.ogicon-cog:before {
  content: "\e994";
}
.ogicon-cogs:before {
  content: "\e995";
}
.ogicon-stats-bars:before {
  content: "\e99c";
}
.ogicon-target:before {
  content: "\e9b3";
}
.ogicon-menu:before {
  content: "\e9bd";
}
.ogicon-eye:before {
  content: "\e9ce";
}
.ogicon-eye-blocked:before {
  content: "\e9d1";
}
.ogicon-star-full:before {
  content: "\e9d9";
}
.ogicon-grin:before {
  content: "\e9e9";
}
.ogicon-warning:before {
  content: "\ea07";
}
.ogicon-plus:before {
  content: "\ea0a";
}
.ogicon-cancel-circle:before {
  content: "\ea0d";
}
.ogicon-blocked:before {
  content: "\ea0e";
}
.ogicon-loop2:before {
  content: "\1f34c";
}
.ogicon-circle-right:before {
  content: "\ea42";
}
.ogicon-circle-left:before {
  content: "\ea44";
}
.ogicon-radio-checked:before {
  content: "\ea54";
}
.ogicon-youtube:before {
  content: "\ea9d";
}
.ogicon-youtube2:before {
  content: "\ea9e";
}
.ogicon-pacman:before {
  content: "\e916";
}
.ogicon-compass:before {
  content: "\e949";
}
.ogicon-clock:before {
  content: "\e94e";
}
.ogicon-redo2:before {
  content: "\e968";
}
.ogicon-users:before {
  content: "\e972";
}
.ogicon-user-minus:before {
  content: "\e974";
}
.ogicon-user-check:before {
  content: "\e975";
}
.ogicon-trophy:before {
  content: "\e99e";
}
.ogicon-gift:before {
  content: "\e99f";
}
.ogicon-power:before {
  content: "\e9b5";
}
.ogicon-smile:before {
  content: "\e9e1";
}
.ogicon-notification:before {
  content: "\ea08";
}
.ogicon-info:before {
  content: "\ea0c";
}
.ogicon-volume-high:before {
  content: "\ea26";
}
.ogicon-volume-mute2:before {
  content: "\ea2a";
}
.ogicon-arrow-right:before {
  content: "\ea34";
}
