.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

/* MOBILE */
@media (max-width: 900px) {
    .menu-toggle {
        display: block;
    }

    .menu {
        position: absolute;
        top: 100%;
        right: 0;
        background: rgba(0,0,0,0.9);
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    .menu.active {
        max-height: 300px;
    }

    .menu a {
        padding: 15px;
        text-align: center;
    }
}
