#minimap-hud {
	border-radius: 0!important;
	/* border: 3px solid #151515!important; */
	user-select: none;
	bottom: 0px;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	right: 0px;
	width: 205px!important;
	height: 205px!important;
	font-family: 'ubuntu';
	font-size: 15px;
}
#statsSubtext, #user-id-tag, #version-tag, .restore-settings a, .restore-settings a:hover {
	color: #fff!important
}
#hotkeys-cfg div.row {
	padding: 3px 10px;
	background: #212121;
	color: #9e9e9e;
	transition: all .5s;
}
#listpopup {
	overflow-y: scroll!important;
	height: 450px
}
.two {
	line-height: 1.42857143!important;
	border: 0 solid #ff006e;
	font-size: 11px;
	letter-spacing: 1px!important;
	color: #fff;
	height: 320px;
	width: 270px;
	display: table-cell;
	vertical-align: top;
	padding: 15px!important;
	font-weight: 400
}
.close {
	color: #ff006e!important
}
label:hover, .agario-panel input, .agario-panel select, .agario-side-panel input, .agario-side-panel select, .input-group-addon, .nick .input-group-btn, .skin .input-group-btn, #stream-mode, #hide-url, .menu-tabs a:hover, .menu-tabs .active, .submenu-tabs, #exp-bar .progress, #quick-menu a:hover, .quick, .select-wrapper, #hotkeys-cfg div.row:hover, #hotkeys-cfg .command-in, #exp-imp-settings textarea, .restore-settings {
	background-color: #212121!important;
	border-color: #212121!important;
}
.modal-content {
	background-color: #14062B;
	color: #fff
}
.modal-header {
	border-bottom: 1px solid #ff006e!important
}
.modal-footer {
	border-top: 1px solid #ff006e!important
}
.btn-setting {
	background-color: #ff006e!important;
	color: #fff!important
}
#panelm {
	background-color: #14062B
}
#panelX {
	background: rgba(26, 13, 48, 0.4)
}
#panelx {
	background-color: #14062B
}
.form-control {
	background-color: #1a0d30
}
#create-party-btn-2 {
	background-color: #aa084e!important
}
#join-party-btn-2 {
	background-color: #6b0036!important
}
.menu-image {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
}
.barf {
	border-bottom: 2px solid #ff006e;
	text-shadow: 0 0 6px #fff, 0 0 25px #fff, 0 0 25px #fff!important
}
.menu-bar-button:hover {
	border-bottom: 2px solid #ff006e;
	text-shadow: 0 0 6px #fff, 0 0 25px #fff, 0 0 25px #fff
}
.menu-bar {
	width: 100%;
	height: 35px;
	position: fixed;
	background: rgba(26, 13, 48, 0.6);
	z-index: 1;
	color: #fff;
	font-size: 0;
	font-weight: bolder;
	font-family: Open Sans
}
.menu-bar-button {
	display: inline-block;
	width: 63px;
	height: 35px;
	background: #1F1B1F!important;
	padding-top: 10px;
	text-align: center;
	cursor: pointer;
	transition: text-shadow .25s;
	font-size: 16px;
	text-shadow: none;
}
.fa {
	display: inline-block;
	font: FontAwesome!important;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	visibility: visible;
	-moz-osx-font-smoothing: grayscale;
}
#logout {
	border-radius: 0 20px 20px 0
}
#ip-box {
	display: inline-block;
	color: #fff;
	float: right;
	font-size: 16px;
	font-family: ubuntu;
	height: 35px;
	padding: 8px;
	background: #1F1B1F!important;
	box-shadow: 0 -5px 20px #000;
	border-radius: 0px;
}
#message-box {
	bottom: 45px!important
}
.hud-top {
	top: 95.7%!important
}
#stats-hud {
	background-color: rgba(0, 0, 0, 0.0)!important;
	user-select: none!important;
	position: fixed;
	bottom: 0px;
	left: 0px;
	color: #fff;
	font-family: ubuntu;
	background: rgba(0, 0, 0, 0.5);
	padding: 6px 10px;
	white-space: pre;
	font-size: 20px;
	border-radius: 1px;
}
#skins a, #skins img, #skins .skin-box {
	width: 140px!important;
	height: 140px!important
}
#skins .skin-box {
	position: relative;
	float: left;
	margin-right: 10px;
	margin-top: 25px;
	margin-left: 25px
}
#skins a.selected, #skins a.selected img, #skins a:hover, #skins a:hover img {
	width: 145px;
	height: 145px
}
:focus {
	outline: -webkit-focus-ring-color auto 0
}
#skin {
	filter: none;
	-webkit-transition: .5s -webkit-filter linear;
}
#skin:hover {
	filter: blur(0px)
}
.restore-settings {
	margin-top: 6px;
}
.model-dialog, .btn, .restore-settings, #hotkeys, .modal-content {
	border-radius: 0px 0px 10px 10px;
	font-family: raleway;
	width: 378px!important;
	margin-left: 4px;
	margin-right: 4px;
	background-color: #0a0a0a!important;
}
input.stream-mode, input.hide-url {
	color: #fff!important
}
#helloContainer {
	opacity: 0!important;
	display: none
}
.btn-logout {
	margin-bottom: 10px
}
.btn-play-guest {
	width: 100%;
	margin-bottom: 10px
}
.btn-gplus {
	margin-top: 10px
}
#helloContainer {
	opacity: 0
}
#theme, #og-settings {
	display: block
}
#create-party-btn-2 {
	margin-left: 0
}
#party-token {
	width: 90px!important;
	margin-top: 10px;
	margin-right: 10px!important;
	float: right!important;
	text-align: center
}
#join-party-btn-2, #create-party-btn-2 {
	width: 100px!important;
	margin-top: 10px;
	border-radius: 20px;
	background-color: #ff006e!important
}
#gamemode {
	float: left;
	width: 75px;
	margin-top: 10px!important
}
#regions {
	margin-top: 10px;
	width: 225px;
	float: right
}
#skin {
	margin-top: 43px!important;
	font-family: Raleway!important;
	padding: 2px 10px;
	font-weight: 600!important;
}
#nick {
	width: 246px!important;
	float: right;
	margin-top: 7px;
	font-family: Raleway!important;
	padding: 2px 10px;
}
#clantag {
	width: 60px!important;
	float: left;
}
.form-control {
	font-family: raleway;
	height: 32px;
	padding: 5px;
	font-size: 14px!important;
	color: #fff;
	border: 0!important;
	border-radius: 1px!important;
	font-weight: 600;
	background-color: #212121!important;
}
#panelx {
	width: 330px;
	padding: 10px;
	height: 183px;
	z-index: 300;
	border-radius: 20px;
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, 130px);
	font-weight: bolder;
	font-family: Open Sans;
}
#chat-box {
	z-index: 199
}
.material-icons {
	font-size: 35px
}
.btnt {
	font-size: 13px;
	font-style: normal;
	margin-bottom: 5px
}
#overlays {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 200
}
#panelX {
	width: 100%;
	height: 210px;
	position: absolute;
	top: 50%;
	margin-top: -105px;
	z-index: 200;
}
#panelm {
	height: 106px;
	margin-top: 57px!important;
	width: 100%;
}
#skin-preview img {
	width: 210px;
	height: 210px
}
#skin-preview {
	z-index: 300;
	position: relative;
	left: 50%;
	transform: scale(1) translateX(-292px);
	transition: transform .5s;
	width: 210px;
	height: 210px;
	margin-top: -55px
}
#skin-preview:hover {
	transform: scale(1.05) translateX(-279px)
}
.container1 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 990px;
	top: 55px
}
.btnX {
	height: 110px!important;
	position: absolute;
	transform: skew(-15deg);
	border: none;
	background-color: #fff;
	color: #EC5457!important;
	text-transform: Uppercase;
	font-weight: bolder;
	font-family: Open Sans;
}
.btn-setting {
	width: 127px;
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.05);
	border-radius: 20px 0 0 20px;
	right: 787px;
	transition: width .35s;
}
.btn-setting:hover, .btn-theme:hover {
	width: 123px
}
.btn-list {
	width: 130px;
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.05);
	left: 9%
}
.btn-dummy {
	width: 216px;
	margin-left: 19.5%;
	background: linear-gradient(to right, #de2c2d 60%, #ffffff 50%);
}
.btn-pley {
	width: 127px;
	display: block;
	left: 41%;
}
.spectate-btn {
	width: 127px;
	left: 53%;
}
.btn-hotkey {
	width: 127px;
	left: 65%;
}
.btn-theme {
	width: 127px;
	left: 77%;
	box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.05);
	border-radius: 0 20px 20px 0;
	transition: width .35s;
}
.btncnt {
	transform: scale(1) skew(15deg)!important;
	transition: transform .5s;
	height: 100px!important;
	padding-top: 16%;
}
.btncnt:hover {
	transform: scale(1.1) skew(15deg)!important
}
.btn {
	transition: transform .5s;
}
.btn:hover {
	transform: scale(1.00);
}
.modal-content {
	color: #fff
}
.submenu-tabs {
	border-radius: 2px;
	width: 100%!important;
}
.colorpicker-element .add-on i, .colorpicker-element .input-group-addon i {
	border-radius: 50%
}
.modal-title {
	text-align: center
}
#chat-box {
	font-weight: bolder;
	font-family: Open Sans
}
#overlays-hud {
	z-index: 200!important;
	transition: all .75s ease-in-out;
	font-weight: bolder;
	font-family: Open Sans!important
}
#time-hud {
	background-color: rgba(0, 0, 0, 0.0)!important;
	text-shadow: 0 0 5px #000;
	padding: 0px 0px 0px 30px;
}
#panelg {
	width: 845px;
	position: absolute;
	left: 20%;
	transform: translateX(-52%)
}
.btn-play, .btn-play-guest, .btn-fb, .btn-gplus, .btn-logout, .btn-spectate {
	display: none
}
#fps-hud {
	display: inline-block;
	color: #fff;
	font-family: ubuntu;
	/* background: #151515; */
	background: rgba(0, 0, 0, 0.5);
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 600;
	bottom: 215px;
	right: 0px;
	bottom: 205px!important;
	position: fixed;
}
.minimap-sector {
	font-family: 'ubuntu';
	width: 35px;
	height: 40px;
	display: inline-block;
	text-align: center;
	padding-top: 10px;
	font-size: 15px;
	padding-left: 10px
}
#minimap-sectors {
	margin: 0!important
}
#target-hud {
	top: 10px
}
#target-panel-hud {
	top: 16px
}
#panelX {
	box-shadow: 1px 1px 27px 2px rgba(0, 0, 0, 0.62)
}
#skin-preview {
	box-shadow: 1px 3px 20px 6px rgba(0, 0, 0, 0.62);
	background-color: #fff
}
#skin-preview.default:before {
	content: none!important
}
#top5-hud {
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0));
	text-shadow: 0 0 5px #000
}
#target-panel-hud, #target-hud {
	background-color: rgba(0, 0, 0, 0);
	text-shadow: 0 0 5px #000
}
#leaderboard-hud h4 {
	font-size: 24px;
}
#leaderboard-hud {
	background-color: rgba(0, 0, 0, 0.0)!important;
	user-select: none!important;
	position: fixed;
	right: 5px;
	padding: 0px 10px 10px 10px;
	transition: top 0.25s!important;
	text-shadow: 0px 0px 5px #000;
}
.hud, .hud-b {
	border-radius: 20px
}
#settingpopup, #skinspopup, #themepopup {
	height: 732px!important
}
#top5-hud, #leaderboard-hud, #target-hud, #target-panel-hud, #time-hud {
	transition: all .25s ease-in-out
}
#pos-skin, #pos-skin img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	box-shadow: 0 0 8px #000;
}
#top5-pos li {
	margin-top: 5px;
	background: #0000004f;
	border-bottom: #fff solid 2px;
	width: 250px;
	height: 25px;
}
#pos-skin, #top5-pos .cell-counter {
	margin-right: 5px;
	height: 25px!important;
	width: 25px!important;
}
#top5-hud {
	width: 260px!important;
	left: 5px!important;
}
#top5-hud h5 {
	text-align: left!important;
	margin-left: 5px!important;
	font-family: Raleway;
	font-size: 13px!important;
	font-weight: 600!important;
	text-transform: uppercase;
	user-select: none!important;
	color: #fff;
}
#top5-pos {
	font-family: ubuntu!important;
	font-size: 14px;
	padding-left: 0!important;
}
#top5marker {
	visibility: hidden;
	position: absolute!important;
	text-align: right!important;
	right: 52px!important;
	padding: 2px;
	background: #2E2A30;
	font-size: 131%;
}
#top5mass {
	position: absolute!important;
	text-align: right!important;
	right: 0px!important;
	padding: 2px;
	background: #2E2A30;
	font-size: 13.4px;
	font-family: ubuntu;
	background: #2E2A30;
}
#leaderboard-data {
	text-align: center!important;
	width: 80px!important;
	font-family: sans-serif!important;
}
#lbmass {
	margin-left: 5px!important;
	font-weight: 500;
	text-shadow: 0px 0px 5px #000;
}
#top5-total {
	padding: 0 0 10px 7px !important;
}
.fade {
	transition: opacity .35s linear!important
}
#player {
	border-radius: 20px 0px 0px 20px;
}
.skin-wheel {
	display: none;
	position: absolute;
	width: 350px;
	height: 350px;
	left: 50%;
	top: -70px;
	transform: translateX(-360px);
	animation: wheel-rotate 120s linear infinite;
	z-index: 200
}
.skin-wheel-bg {
	width: 350px;
	height: 350px;
	border: 73px solid rgba(0,0,0,.3)!important;
	border-radius: 50%;
}
.pick-skin {
	background-size: cover!important;
	box-shadow: 0 0 30px #000;
	width: 61px;
	background: rgba(0,0,0,.59);
	height: 61px;
	position: absolute;
	border-radius: 50%;
	animation: selector-rotate 120s linear infinite;
}
.skin-wheel img {
	width: 61px;
	height: 61px;
	border: 0;
	border-radius: 50%;
	border: 2px solid #fff
}
.pick-skin-0 {
	left: 140px;
	top: 5px
}
.pick-skin-1 {
	top: 50px;
	right: 40px
}
.pick-skin-2 {
	right: 5px;
	top: 140px
}
.pick-skin-3 {
	right: 40px;
	bottom: 50px
}
.pick-skin-4 {
	left: 140px;
	bottom: 5px
}
.pick-skin-5 {
	left: 40px;
	bottom: 50px
}
.pick-skin-6 {
	left: 5px;
	top: 140px
}
.pick-skin-7 {
	left: 40px;
	top: 50px
}
#settings, #themes, #inputs, #ipList {
	display: none;
	width: 390px;
	height: 588px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 4px 2px;
}
#ipList {
	width: 640px!important
}
.settings-container, .themes-container, .ipList-container {
	user-select: none;
	position: relative;
	height: 482px;
	border-radius: 20px
}
.settings-close, .themes-close, .inputs-close, .ipList-close {
	font-family: Open Sans;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	padding-right: 10px;
	visibility: hidden;
}
.menu-panel {
	z-index: 305;
	border-radius: 2px;
	background: #0a0a0a!important;
}
#ip-list .submenu-panel {
	height: 505px!important;
	display: block!important
}
#theme .submenu-panel {
	height: 447px!important
}
#hotkeys-cfg .submenu-panel {
	height: 0!important
}
#hotkeys-cfg {
	top: 35px!important
}
#og-settings {
	height: 482px;
	border-radius: 20px!important;
}
#og-settings .submenu-panel, #theme, #hotkeys-cfg, #ip-list {
	display: block;
	height: 480px;
	border-radius: 0px;
	font-family: raleway;
	font-weight: 600;
	text-transform: uppercase;
}
#og-options h5 {
	padding: 0px 12px;
	font-size: 0px;
	margin-top: 0!important;
	margin-bottom: 5px!important;
}
.rangeslider--horizontal {
	height: 5px!important;
	width: 175px!important;
	float: right;
	top: -10px;
}
.rangeslider--horizontal .rangeslider__handle {
	top: -1px!important;
	width: 15px!important;
	height: 7px!important;
	border-radius: 2px;
}
.rangeslider, .rangeslider__fill {
	border-radius: 20px!important;
	background: #0a0a0a;
}

.rangeslider__fill {
    background: linear-gradient(90deg,#525252,#de2c2d);
}
.slider-box .box-label {
	padding-bottom: 0!important;
}
.slider-box {
	user-select: none;
	padding: 14px 10px;
	margin-right: 4px;
	margin-left: 4px;
	border-radius: 1px;
	background: #212121;
	color: #9e9e9e;
	transition: all .5s;
	width: 378px;
}
label {
	font-weight: 600;
	user-select: none!important;
	padding: 14px 10px;
	margin-left: 4px;
	border-radius: 1px;
	background: #212121;
	color: #9e9e9e;
	transition: all .5s;
	width: 378px;
}
@keyframes wheel-rotate {
	from {
		transform: translateX(-363px) rotate(0deg)
	}
	to {
		transform: translateX(-363px) rotate(360deg)
	}
}
@keyframes selector-rotate {
	from {
		transform: rotate(360deg)
	}
	to {
		transform: rotate(0deg)
	}
}
div#panelx {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: linear-gradient(to bottom, #151317 60%, #1F1D1D 50%);
    border-radius: 1px!important;
}

input#clantag {
    margin: 2px;
    margin-left: 0px;
    margin-top: 7px;
    width: 60px!important;
    font-family: Raleway!important;
    font-weight: 600!important;
    padding: 2px 10px;
}

select#gamemode {
    position: absolute;
    bottom: 15px;
    background: #151317!important;
    border-radius: 1px!important;
}

select#regions {
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 90px;
    background: #151317!important;
    width: 230px;
    border-radius: 1px!important;
}

button#create-party-btn-2 {
    float: right!important;
    margin-right: 35px!important;
    margin-left: 0px!important;
    background: #ec3098;
    box-shadow: 0px 0px 15px #080808;
    transition: all 0.5s;
    height: 22px;
    width: 70px!important;
    border: none;
    font-weight: 600!important;
    border-radius: 10px!important;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    margin: -21px 0 0 0;
    background-color: #EA2224!important;
    outline: none!important;
    padding: 0px;
    font-family: raleway;
}

button#join-party-btn-2 {
    float: left!important;
    margin-left: 35px!important;
    background: #6442cb;
    margin-left: 15px;
    box-shadow: 0px 0px 15px #080808;
    transition: all 0.5s;
    height: 22px;
    width: 70px!important;
    border: none;
    font-weight: 600;
    border-radius: 10px!important;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    margin: 15px 0px 0px 0px;
    background-color: #EA2224!important;
    outline: none!important;
    padding: 0px;
    font-family: Raleway;
}

input#party-token {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    float: none!important;
    text-align: center;
    height: 22px;
    padding: 2px 5px;
    border-radius: 10px!important;
    margin: 15px 5px 0px 5px;
    font-size: 12px;
    box-shadow: 0px 0px 15px #080808;
}

div#panelX {
    background: rgba(255, 255, 255, 0.05)!important;
    box-shadow: none!important;
}

div#panelm {
    background-color: #1F1E1F;
}

button.btnX.btn-setting {
    background: #DE2C2D!important;
    color: #fff!important;
    border-radius: 5px 0px 0px 5px;
}

button.btnX.btn-theme {
    border-radius: 0px 5px 5px 0px;
}

canvas#canvas {
    filter: none!important;
}
.toast.toast-warning {
    background: #BCBBBC;
    width: 210px!important;
    border-radius: 2px!important;
    padding: 7px!important;
    margin: 3px!important;
    transition: background-color .2s linear, opacity .2s linear;
}

span.command-nick {
    color: #000!important;
    font-family: raleway;
}

span.command-text {
    color: #000!important;
    font-family: raleway;
}

.toast.toast-success {width: 210px!important;height: 0%!important;border-radius: 2px!important;padding: 7px!important;margin: 3px!important;transition: background-color .2s linear, opacity .2s linear;}

span.message-nick {
    font-family: raleway;
    color: #F4F4F4!important;
}

span.message-text {
    font-family: ubuntu;
    font-weight: 600;
    color: #F4F4F4!important;
}
.toast.toast-info {
    background: #32de2c;
    width: 210px!important;
    border-radius: 2px!important;
    padding: 7px 10px 10px 50px!important;
    margin: 3px!important;
    transition: background-color .2s linear, opacity .2s linear;
    /* color: #000!important; */
}

.toast-message {
    font-family: raleway;
    font-weight: 500;
}
#stats-hud {
	user-select: none;
	position: fixed;
	bottom: 0;
	left: 0;
	color: #fff;
	font-family: ubuntu;
	background: rgba(0, 0, 0, .5);
	padding: 6px 10px;
	white-space: pre;
	font-size: 16px
}
.ps-scrollbar-y-rail {
    visibility: hidden;
}
.btn-success:active, .btn-success:disabled, .btn-success:focus, .btn-success:hover {
    background-color: #212121!important;
}
.btn-success:active, .btn-success:disabled, .btn-success:focus, .btn-success:hover {
    background-color: #212121!important;
}

.default-key {
    margin-right: 6px;
    font-family: raleway;
    padding: 2px 5px;
    color: #8e8e8e;
    transform: translateY(-3px);
    text-align: center;
    width: 55px;
    font-weight: 700;
    cursor: pointer;
}

.hk {
    background: #111;
    padding: 2px 5px;
    height: 16px;
}

.custom-key {
    transform: translateY(2px)!important;
    width: 55px!important;
    height: 24px;
}

.custom-key-in {
    font-family: raleway;
    background: #111!important;
    padding: 2px 5px!important;
    border: 2px solid #444!important;
    box-shadow: 0 0 2px #000;
    color: #8e8e8e!important;
    transform: translateY(-3px)!important;
    text-align: center!important;
    width: 55px!important;
    height: 24px;
    font-weight: 700;
    cursor: pointer;
}

.key-label {
    background: #333;
    border: 2px solid #444;
    height: 36px;
    color: #9c9c9c;
    font-family: ubuntu;
    font-weight: 500;
    width: 330px;
    border-radius: 0 2px 2px 0;
    padding: 5px 8px;
    vertical-align: middle;
    width: 60%;
}

input#comm1 {}

input#comm1 {
    padding: 5px;
}
.select-wrapper {
    margin-left: 4px;
    width: 98%;
    border-radius: 1px;
}

.input-group {
    margin-left: 4px;
    width: 96%;
    background: #212121;
    border-radius: 1px;
}
.form-control:focus {
    box-shadow: none!important;
}
input#message {
    font-family: ubuntu;
}
.submenu-tabs .active, .submenu-tabs a:hover {
    color: #de2c2d!important;
}
#loading-screen{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: #eaeaea;
z-index: 9999;}
 
.loading small{font-size:25px;}
 
.loading{width: 250px;height: 100px;position: absolute;left: 50%;top: 95%;margin-left:-125px;margin-top:-75px;color:#de2c2d;font-size:40px;letter-spacing:-2px;text-align:center;line-height:35px;font-family: ubuntu;}
 
#loading-screen .svg_load {position: absolute;width: 200px;height: 200px;background: url(https://mobyzi.ru/release/resources/images/load.svg) center center no-repeat;background-size:200px;margin: -160px 0 0 -105px;}
.toast.toast-error {
    background: #ce2527;
    width: 210px!important;
    border-radius: 2px!important;
    padding: 7px 10px 10px 50px!important;
    margin: 3px!important;
    transition: background-color .2s linear, opacity .2s linear;
}
div#exp-imp {
    width: 400px!important;
    border-top: 5px solid #353535;
    background: #151515;
}

textarea#export-settings {
    width: 377px;
}

textarea#import-settings {
    width: 377px;
}

#exp-imp-settings label {
    width: 80px;
    background: none;
}

h1 {
    text-align: center;
    color: #eaeaea!important;
}

.btn-danger:hover {
    background-color: #252525!important;
}
span#lbmarker {
    visibility: hidden;
}
