.menu a {
    position: relative;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #00f6ff;
    transition: 0.3s;
}

.menu a:hover::after {
    width: 100%;
}
