@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --corFundo: #000000;
    --corTexto: #fdfdfd;
    --corPrimaria: #00325e;
    --corDestaque: #11d8d8;
    --corBranca: #fff;
    --cinzaClaro: #ebebeb;
    --sombraPadrao: 0 2px 5px rgba(0, 0, 0, 0.1);
    --sombraReforcada: 0 2px 5px rgba(0, 0, 0, 0.15);
    --bordaArredondada: 12px;
}



/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #000;
    color: var(--corBranca);
}

/* Remover barra de rolagem horizontal indesejada */
html, body { overflow-x: hidden; }

/* ================= HEADER ================= */
.header {
    position: relative;
    width: 100%;
    height: 75vh;
    min-height: 350px;
    overflow: hidden;
    background: url(logo.png) no-repeat center/cover;
    filter: drop-shadow(0 0 6px #00f6ff)
            drop-shadow(0 0 12px #00f6ff);
}

/* ================= Overlay escuro ====================== */
/* .header-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.185);
    z-index: 2;
} */

/* ==================== Conteúdo ======================== */
.header-content {
    position: relative;
    z-index: 3;
    height: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ================== Logo ========================== */
.logo {
    height: 200px;
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;

}

#header2 {
    /* height: clamp(80px, 25vw, 100px); */
    position: relative;
    height: clamp(120px, 25vw, 220px);
    overflow: hidden;
}

/* ===================== Menu ======================= */
.menu {
    display: flex;
    gap: 25px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.3s;
}

.menu a:hover {
    color: var(--corDestaque);
}

/* ================= SEÇÕES ================= */
.section {
    padding: 80px 10%;
    text-align: center;
}

.section.dark {
    background: #0a0a0a;
}

.menu a {
    position: relative;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #00f6ff;
    transition: 0.3s;
}

.menu a:hover::after {
    width: 100%;
}


/* ================= RESPONSIVO ================= */
@media (max-width: 900px) {
    .header {
        height: 70vh;
    }

    .header-content {
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .logo {
        height: 50px;
    }
}
